body { /* mexe no site inteiro*/
    font-family: 'Poppins', sans-serif; /* fonte principal do site*/
    background-color: #121212; /* cor do fundo*/
    color: white; /* cor do texto*/
    margin: 0;
    padding: 0;
    text-align: center; /* centraliza todo o texto*/
}

h1 { /* mexe somente no titulo principal (no caso o KENDRICK LAMAR.)*/
    font-weight: 700; /* grossura da fonte*/
    font-size: 3.5rem; /* tamanho da fonte*/
    /* background-image: url('img/kendrick.jpg'); /* caminho da imagem */
    background-size: cover; /* faz a imagem cobrir todo o fundo */
    background-position: center; /* centraliza a imagem */
    padding: 175px; /* dá mais espaço em volta do texto */
    font-family: "Times New Roman", serif; /* fonte (a mesma do .destaque)*/
    color: rgb(255, 0, 0); /* cor do titulo*/
    text-align: center; /* centraliza o título */
    letter-spacing: 4px; /* aumenta o espaçamento entre as letras */   
}

h2 {
    font-weight: 400; /* grossura do fonte*/
    font-size: 1.8rem; /* tamanho da fonte*/
    margin-top: 20;
    font-family: "Times New Roman", serif;
    color: red;
}

p {
    font-weight: 300; /* grossura do fonte*/
    font-size: 1.2rem; /* tamanho da fonte*/
    max-width: 900px; /* largura maxima*/
    margin: 0 auto;
    line-height: 1.6; /* distância entre as linhas*/
}

ul { 
    list-style-position: inside; /* deixa o pontinho centralizado junto com o texto*/
    text-align: center; /* lista centralizada*/
}

.destaque { /* classe que muda o estilo do texto para ficar parecido com o DAMN.*/
    font-family: "Times New Roman", serif;
    color: red;
    font-weight: 400;
    font-size: 1.4rem;
}

.album-cover { /* muda o tamanho de todas as imagens com a classe album-cover*/
    width: 250px;
    height: auto;
}

.album-container { /*essa classe serve pra "div" que eu coloquei os albuns fique alinhada corretamente*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centraliza as imagens */
    gap: 10px; /* espaçamento entre as imagens */
}

.awards {
    display: flex;
    align-items: center; /* alinha verticalmente*/
    justify-content: center; /* centraliza horizontalmente*/
    gap: 40px; /* espaço entre a imagem e a lista*/
    padding: 50px; /* distancia entre o ultimo titulo e o proximo (pelo que parece)*/
}

.grammy {
    width: 400px;
    height: auto;
}

.mousezoom {
    transition: transform 0.3s ease-in-out; /* animação smooth (eu acho) */
}
.mousezoom:hover { /* o hover faz alguma ação quando o mouse passa por cima! */
    transform: scale(1.1); /* aumenta 10% quando o mouse passa */
}

.animacao {

}