body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* teste
h1 {
    font-weight: 700; /* grossura da fonte*/
    font-size: 3.5rem; /* tamanho da fonte*/
    /* background-image: url('./img/kendrick.jpg'); /* caminho da imagem */
    background-size: cover; /* faz a imagem cobrir todo o fundo */
    background-position: center; /* centraliza a imagem */
    padding: 175px; /* dá mais espaço em volta do texto */
    font-family: "Times New Roman", serif; /* fonte (a mesma do .destaque)*/
    color: rgb(255, 0, 0); /* cor do titulo*/
    text-align: center; /* centraliza o título */
    letter-spacing: 4px; /* aumenta o espaçamento entre as letras */   
}

h2 {
    font-weight: 400; /* grossura do fonte*/
    font-size: 1.8rem; /* tamanho da fonte*/
    margin-top: 20; /* distancia do ultimo texto*/
}

p {
    font-weight: 300; /* grossura do fonte*/
    font-size: 1.2rem; /* tamanho da fonte*/
    max-width: 900px; /* largura maxima*/
    margin: 0 auto;
    line-height: 1.6;
}
/* deixa a lista do nome dos albuns centralizado*/
ul {
    list-style-position: inside;
    text-align: center;
}
/* muda a fonte e a cor para todos os textos para o mesmo estilo do DAMN.*/
.destaque {
    font-family: "Times New Roman", serif;
    color: red;
}
/* muda o tamanho de todas as imagens com a classe album cover*/
.album-cover {
    width: 250px;
    height: auto;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centraliza as imagens */
    gap: 10px; /* espaçamento entre as imagens */
}